--langdef=wiki
--langmap=wiki:.wiki
--regex-wiki=/^=[ \t]+(.+)[ \t]+=$/\1/h,header/
--regex-wiki=/^==[ \t]+(.+)[ \t]+==$/　\1/h,header/
--regex-wiki=/^===[ \t]+(.+)[ \t]+===$/\　  \1/h,header/
--regex-wiki=/^====[ \t]+(.+)[ \t]+====$/\　    \1/h,header/
--regex-wiki=/^=====[ \t]+(.+)[ \t]+=====$/\　      \1/h,header/
--regex-wiki=/^======[ \t]+(.+)[ \t]+======$/\　        \1/h,header/
--regex-wiki=/^#[ \t]+(.+)$/\1/h,header/
--regex-wiki=/^##[ \t]+(.+)$/\　\1/h,header/
--regex-wiki=/^###[ \t]+(.+)$/\　  \1/h,header/
--regex-wiki=/^####[ \t]+(.+)$/\　    \1/h,header/
--regex-wiki=/^#####[ \t]+(.+)$/\　      \1/h,header/
--regex-wiki=/^######[ \t]+(.+)$/\　        \1/h,header/

--langdef=markdown
--langmap=markdown:.md.mkd.markdown
--regex-markdown=/^#[ \t]+(.+)$/\1/h,header/
--regex-markdown=/^##[ \t]+(.+)$/　\1/h,header/
--regex-markdown=/^###[ \t]+(.+)$/　  \1/h,header/
--regex-markdown=/^####[ \t]+(.+)$/　    \1/h,header/
--regex-markdown=/^#####[ \t]+(.+)$/　      \1/h,header/
--regex-markdown=/^######[ \t]+(.+)$/　        \1/h,header/

--langdef=javascript
--langmap=javascript:.js
--regex-javascript=/^[ \t]*(export([ \t]+abstract)?)?[ \t]*class[ \t]+([a-zA-Z0-9_]+)/\3/c,classes/
--regex-javascript=/^[ \t]*(export)?[ \t]*module[ \t]+([a-zA-Z0-9_]+)/\2/n,modules/
--regex-javascript=/^[ \t]*(export)?[ \t]*function[ \t]+([a-zA-Z0-9_]+)/\2/f,functions/
--regex-javascript=/^[ \t]*export[ \t]+var[ \t]+([a-zA-Z0-9_]+)/\1/v,variables/
--regex-javascript=/^[ \t]*var[ \t]+([a-zA-Z0-9_]+)[ \t]*=[ \t]*function[ \t]*\(\)/\1/v,varlambdas/
--regex-javascript=/^[ \t]*(export)?[ \t]*(public|private)[ \t]+(static)?[ \t]*([a-zA-Z0-9_]+)/\4/m,members/
--regex-javascript=/^[ \t]*(export)?[ \t]*interface[ \t]+([a-zA-Z0-9_]+)/\2/i,interfaces/
--regex-javascript=/^[ \t]*(export)?[ \t]*enum[ \t]+([a-zA-Z0-9_]+)/\2/e,enums/
--regex-javascript=/^[ \t]*import[ \t]+([a-zA-Z0-9_]+)/\1/I,imports/
