--langdef=wiki
--langmap=wiki:.wiki
--regex-wiki=/^=[ \t]+(.+)[ \t]+=$/\1/h,header/
--regex-wiki=/^==[ \t]+(.+)[ \t]+==$/　\1/h,header/
--regex-wiki=/^===[ \t]+(.+)[ \t]+===$/\　  \1/h,header/
--regex-wiki=/^====[ \t]+(.+)[ \t]+====$/\　    \1/h,header/
--regex-wiki=/^=====[ \t]+(.+)[ \t]+=====$/\　      \1/h,header/
--regex-wiki=/^======[ \t]+(.+)[ \t]+======$/\　        \1/h,header/
--regex-wiki=/^#[ \t]+(.+)$/\1/h,header/
--regex-wiki=/^##[ \t]+(.+)$/\　\1/h,header/
--regex-wiki=/^###[ \t]+(.+)$/\　  \1/h,header/
--regex-wiki=/^####[ \t]+(.+)$/\　    \1/h,header/
--regex-wiki=/^#####[ \t]+(.+)$/\　      \1/h,header/
--regex-wiki=/^######[ \t]+(.+)$/\　        \1/h,header/

--langdef=markdown
--langmap=markdown:.md.mkd.markdown
--regex-markdown=/^#[ \t]+(.+)$/\1/h,header/
--regex-markdown=/^##[ \t]+(.+)$/　\1/h,header/
--regex-markdown=/^###[ \t]+(.+)$/　  \1/h,header/
--regex-markdown=/^####[ \t]+(.+)$/　    \1/h,header/
--regex-markdown=/^#####[ \t]+(.+)$/　      \1/h,header/
--regex-markdown=/^######[ \t]+(.+)$/　        \1/h,header/

--langdef=javascript
--langmap=javascript:.js
--regex-javascript=/^(var)?[ \t]*([A-Za-z0-9_$]*\.)*([A-Za-z0-9_$]+)[ \t]*=[ \t]*\[/\3/a,array/
--regex-javascript=/^(var)?[ \t]*([A-Za-z0-9_$]*\.)*([A-Za-z0-9_$]+)[ \t]*=[ \t]*\{/\3/o,object/
--regex-javascript=/^(var)?[ \t]*([A-Za-z0-9_$]*\.)*([A-Za-z0-9_$]+)[ \t]*=[^{\[]*$/\3/r,var/
--regex-javascript=/^var[ \t]+([A-Za-z0-9._$]+)[ \t]*=[ \t]*[A-Za-z0-9_$]+.extend/\1/f,function/
--regex-javascript=/^[ \t]*([A-Za-z0-9_$]*\.)*([A-Za-z0-9_$]+)[ \t]*[:=][ \t]*function/\2/f,function/
--regex-javascript=/^[ \t]*function[ \t]*([A-Za-z0-9_$]+)[ \t]*\(/\1/f,function/
--regex-javascript=/^[ \t]*var[ \t]+([A-Za-z0-9_$]*\.)*([A-Za-z0-9_$]+)[ \t]*=[ \t]function/\2/f,function/
--regex-javascript=/(jQuery|\$)\([ \t]*([^ \t]*)[ \t]*\)\.bind\([ \t]*['"](.*)['"]/\2.\3/f,function/
--regex-javascript=/^[ \t]*describe[ \t]*\([ \t]*["'](.*)["']/\1/f,function/
--regex-javascript=/^([ \t]*)(describe|context|it)[ \t]*\([ \t]*["'](.*)["']/.\1\3/f,function/
